@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-family: "Avenir Next", Avenir, "Century Gothic", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}
